.alive, .dead {
    width: 5px;
    height: 5px;
    border: solid #ccc;
    border-width: 0.01em;
}
.dead {
    background-color : white !important
}
.voe{
    background: linear-gradient(to bottom, red,yellow);
    width: auto;
}